@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat"), local("Akrobat-Regular"), url("../fonts/Akrobat.woff2") format("woff2"), url("../fonts/Akrobat.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url("../fonts/Akrobatbold.woff2") format("woff2"), url("../fonts/Akrobatbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  /* &:visited {
        color: inherit;
    } */ }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
  font-family: 'Akrobat', sans-serif; }

.site-container {
  overflow: hidden; }

.container {
  max-width: 990px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto; }

.content {
  padding-top: 70px; }

.header {
  background-color: #749c8d;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .header__social-item:not(:last-child) {
      margin-right: 10px; }

.logo-text {
  font-size: 26px;
  margin-left: 10px; }

.header__social-link {
  display: block;
  width: 41px;
  height: 41px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center; }
  .header__social-link--vk {
    background-image: url(../img/social/vk.png); }
  .header__social-link--ig {
    background-image: url(../img/social/ig.png); }
  .header__social-link--fb {
    background-image: url(../img/social/fb.png); }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px; }
  .banner-img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/date.png);
  background-position: 50% 10px;
  background-repeat: no-repeat;
  padding: 35px 160px;
  padding-bottom: 48px;
  margin-top: -64px;
  margin-bottom: 48px; }
  .discount__date {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 62.5px;
    font-weight: 400;
    color: #094e3b; }
    .discount__date--red {
      color: #de4814;
      font-size: 58px;
      font-weight: 700; }
    @media (max-width: 938px) {
      .discount__date {
        font-size: 34px;
        text-align: center; } }
  @media (max-width: 938px) {
    .discount {
      background: none;
      padding: 0 20px;
      margin-top: 40px; } }

.goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 82px; }
  @media (max-width: 987px) {
    .goods__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 40px; } }

.goods__card {
  max-width: 440px;
  width: 100%;
  background-color: rgba(223, 228, 236, 0.7);
  padding-bottom: 7px;
  margin-right: 68px;
  margin-bottom: 66px;
  position: relative;
  -webkit-box-shadow: 0 0 15px rgba(16, 17, 17, 0.4);
  box-shadow: 0 0 15px rgba(16, 17, 17, 0.4); }
  .goods__card:nth-child(2n) {
    margin-right: 0; }
  .goods__card:nth-last-child(-n+2) {
    margin-bottom: 0; }
    @media (max-width: 987px) {
      .goods__card:nth-last-child(-n+2) {
        margin-bottom: 20px; } }
  @media (max-width: 987px) {
    .goods__card {
      margin-right: 0;
      margin-bottom: 20px; } }

.goods__discount {
  font-size: 26px;
  position: absolute;
  font-family: 'Arial';
  color: #fff;
  z-index: 2;
  top: -10px;
  right: -10px;
  width: 105px;
  height: 82px;
  background-image: url(../img/card-corner.png);
  background-position: center; }
  .goods__discount-text {
    -webkit-transform: translateX(34%) translateY(68%);
    -ms-transform: translateX(34%) translateY(68%);
    transform: translateX(34%) translateY(68%); }

.card-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.goods__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 20px 0; }
  @media (max-width: 470px) {
    .goods__top-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.goods__about {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px; }

.goods__price {
  background-color: #fff;
  color: #d8481c;
  font-size: 37px;
  padding: 9px 25px; }
  .goods__price--old {
    color: #575757;
    text-decoration: line-through;
    display: block;
    font-size: 30px; }

.goods__order {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #3ab16f;
  text-align: center;
  line-height: 43px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .goods__order:hover {
    background-color: #fff;
    color: #3ab16f;
    border-color: #3ab16f; }

.goods__more {
  display: block;
  font-size: 22px;
  color: #b83b11;
  border: 2px solid #e96c41;
  background-color: #fff;
  text-align: center;
  line-height: 43px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .goods__more:hover {
    color: #fff;
    background-color: #b83b11; }

.goods__attention {
  color: #ab310c;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-bottom: 2px;
  margin-top: 10px;
  font-size: 17px;
  border-bottom: 1px dashed #ab310c;
  text-align: right; }

.goods__popup-inner {
  position: absolute; }

.goods__popup {
  color: #004734;
  font-size: 21px;
  padding: 40px 34px 40px 22px;
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  margin-top: 20px;
  display: none; }
  .goods__popup-close {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 10px; }
  .goods__popup-item:first-child {
    margin: 20px 0; }
  .goods__popup:before {
    content: url(../img/arrow.png);
    position: absolute;
    top: -20px;
    right: 70px; }
  .goods__popup--active {
    display: block; }

.goods__description {
  margin-top: 30px;
  padding: 25px 20px 0; }
  .goods__description-title {
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    text-transform: uppercase; }
    .goods__description-title--underline {
      border-bottom: 1px solid #000;
      font-weight: 700; }
  .goods__description-text {
    margin-top: 30px;
    color: #004734;
    font-size: 20px; }
    @media (max-width: 470px) {
      .goods__description-text {
        font-size: 16px;
        margin-top: 10px; } }
  @media (max-width: 470px) {
    .goods__description {
      margin-top: 0; } }

.goods__share {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0;
  margin-top: 16px; }
  .goods__share-title {
    color: #828384;
    margin-bottom: 14px;
    text-align: center; }
    @media (max-width: 470px) {
      .goods__share-title {
        padding: 0 20px; } }
  .goods__share-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 470px) {
      .goods__share-list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .goods__share-item:not(:last-child) {
    margin-right: 12px; }
  @media (max-width: 447px) {
    .goods__share-item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 10px; } }
  .goods__share-link {
    display: block;
    background-color: #aeaeae;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center; }
    .goods__share-link--vk {
      background-image: url(../img/share/vk.png); }
    .goods__share-link--ig {
      background-image: url(../img/share/ig.png); }
    .goods__share-link--fb {
      background-image: url(../img/share/fb.png); }
    .goods__share-link--ok {
      background-image: url(../img/share/ok.png); }
    .goods__share-link--yt {
      background-image: url(../img/share/yt.png); }
    .goods__share-link--in {
      background-image: url(../img/share/li.png); }
    .goods__share-link--lj {
      background-image: url(../img/share/lj.png); }
    .goods__share-link--mw {
      background-image: url(../img/share/mw.png); }
    .goods__share-link--ya {
      background-image: url(../img/share/ya.png); }
    .goods__share-link--gp {
      background-image: url(../img/share/gp.png); }

.form {
  background-color: #80c9b0;
  padding: 26px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px dotted #608f7f;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .form__arrow {
    position: absolute; }
    .form__arrow--left {
      left: -126px; }
    .form__arrow--right {
      right: -126px; }
    @media (max-width: 1220px) {
      .form__arrow {
        display: none; } }
  .form__input {
    max-width: 284px;
    width: 100%;
    height: 43px;
    text-align: center;
    margin-right: 10px; }
    .form__input::-webkit-input-placeholder {
      color: #808286; }
    .form__input:-ms-input-placeholder {
      color: #808286; }
    .form__input::-ms-input-placeholder {
      color: #808286; }
    .form__input::placeholder {
      color: #808286; }
    @media (max-width: 729px) {
      .form__input {
        margin-bottom: 10px; } }
  .form__button {
    background-color: #de0d08;
    color: #fff;
    border: 1px solid transparent;
    max-width: 329px;
    width: 100%;
    height: 43px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .form__button:hover {
      background-color: #fff;
      color: #de0d08;
      border: 1px solid #de0d08; }
  @media (max-width: 729px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer {
  margin-top: 56px;
  background-color: #a4a4a5;
  padding: 70px 0;
  color: #fff; }
  @media (max-width: 470px) {
    .footer__first-line {
      text-align: center; }
      .footer__first-line span {
        display: none; } }
  @media (max-width: 470px) {
    .footer__policy {
      display: block;
      margin-bottom: 10px; } }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__line:not(:last-child) {
    margin-bottom: 20px; }
  .footer__link {
    text-decoration: underline; }
